{{#each tracks}}

<div class="album-container">
<h1>{{artistName}}</h1>
<h2>{{trackName}}</h2>
<h3>{{albumName}}</h3>
<img data-id="{{trackId}}" src="{{albumArtUrl}}" height="500" width="500" >   
</div>
{{/each}}